<html>
  <head>
    {%load static%}
     
  </head>
  <body>

    <div class="container">
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Start Course.</h2>
            <p>Apply and sumbit your own course</p>
            <a href="createcourse">Submit</a>
          </div>
        </div>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Request Course.</h2>
            <p>request for topics you want to learn</p>
            <a href= 'testa:requestcourse'>Request</a>
          </div>
        </div>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>Community Connect </h2>
            <p>connect with people with same interest </p>
            <a href= 'chat-home'>start chat</a>
          </div>
        </div>
      </div>
      <br>
        </div>
      </div>
  </body>
</html>