
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>{%block title%}{%endblock%}</title>
      {%block headd%}{%endblock%}
      <link rel="icon" href='Buddy Icon.ico'>
       <link rel="stylesheet" href='css/mota.css'>
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- navigation bar -->
           <nav class="navbar navbar-expand-lg bg-* shadow-5-strong " style="position:relative; background:#00121b">

        <a class="navbar-brand" href='index'  style="padding-left:3%;padding-top:1.2%;">
          <img src='Images\a.png' width="290px" height="65px;" alt="">
        </a>


      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href='index' >Home <span class="sr-only">(current)</span></a>
          </li>

           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Community
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="">
              <a class="dropdown-item" href='testa:test2' >Blogs</a>
              <div class="dropdown-divider" ><hr></div>

              <a class="dropdown-item" href='testa:community' >more features</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='curriculum:standard_list' >Curriculum</a>
          </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2" style="">
              <a class="dropdown-item" href='profile' >Profile</a>
              <div class="dropdown-divider" ><hr></div>

              <a class="dropdown-item" href='change_pass' >Change Password</a>
            </div>
          </li>




            <li class="nav-item">
            <a class="nav-link" href='contact' >Contact Us</a>
          </li>
            {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href='admin:index' >Admin</a>
          </li>

           {%endif%}


        </ul>
        {% if user.is_authenticated %}

        <span class="navbar-text btn btn-outline-danger" style="margin-right:3%;margin-top:1%;font-size:20px;
      font-weight:bold;" >
          <a href ='user_logout'  >Logout </a>
        </span>
        {% else %}
        <span class="navbar-text btn btn-outline-primary" style="margin-right:20px;font-size:20px;margin-top:1%;
      font-weight:bold;">
         <a href ='user_login'  >Sign in </a>
        </span>
        <span class="navbar-text btn btn-outline-success" style="margin-right:3%;font-size:20px;margin-top:1%;
      font-weight:bold;">
            <a href ='register'  >Sign up </a>
        </span>
        {% endif %}
      </div>
    </nav>
          {% block image_block %}
          {% endblock %}


    <div class="container">
        {%block content%}

        {%endblock%}
    </div>
{% block cont %} {%endblock%}


   <!--  FOOTER START -->

<div class="footer">
  <div class="inner-footer">

<!--  for company name and description -->
      <div class="footer-items">
      <h2 style="font-family: 'Montserrat', sans-serif;" >BuddyDome</h2>
      <p>Experience A new way to CLOUDS</p>
<img src='Images/slowmove2.gif'>
    </div>


<!--  for quick links  -->
    <div class="footer-items">
      <h3>Group Members</h3>
      <div class="border1"></div> <!--for the underline -->
        <ul>
          <a href="#"><li>Ananta Paliwal</li></a>
          <a href="#"><li>Bromhon Baasudev Jena</li></a>
          <a href="#"><li>Ayush Vyas</li></a>
          <a href="#"><li>Tapas Singhal</li></a>
          <a href="#"><li>Khushboo Choubey</li></a>

        </ul>
    </div>

    <!--  for contact us info -->
    <div class="footer-items">
      <h3>Contact us</h3>
      <div class="border1"></div>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i>VIT BHOPAL UNIVERSITY</li>

          <li><i class="fa fa-phone" aria-hidden="true"></i>+917751902555,+919719548967</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>samudrawala@gmail.com</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>tapaslov@gmail.com</li>
        </ul>



<!--   for social links -->
        <div class="social-media" style="left:50px;" >
          <a style="padding-left:40px;" href="https://www.instagram.com/its_tapas_ig/"><i class="fa fa-instagram fa-2x"></i></a>
          <a style="padding-left:10%;" href="https://www.linkedin.com/in/tapas-singhal-b1380521a/"><i class="fa fa-linkedin fa-2x"></i></a>
          <a style="padding-left:10%;" href="https://twitter.com/TapasLov"><i class="fa fa-twitter fa-2x"></i></a>
        </div>
    </div>
  </div>

<!--   Footer Bottom start  -->
  <div class="footer-bottom">
   <h3>Copyright &copy; BuddyDome 2023.</h3>
  </div>
</div>

<!--   Footer Bottom end -->

<!--   FOOTER END -->
</body>

<!-- Thanks to Computer Conversations -->
<!-- END OF FOOTER -->

<!-- Thanks to Computer Conversations -->
</html>